// В этом файле должны быть стили для БЭМ-блока faq, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.faq {

  $block-name:                &; // #{$block-name}__element

  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5f5;
  border-bottom: 1px solid #b5b5b5;

  &__container {
    @include container;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media (min-width:$screen-lg) {
      margin-bottom: 60px;
    }
  }
}
