// В этом файле должны быть стили для БЭМ-блока working, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.working {

  $block-name:                &; // #{$block-name}__element

  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5f5;

  &__container {
    max-width: 1036px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    counter-reset: working-num;
  }

  &__item {
    position: relative;
    max-width: 50%;
    flex-basis: 50%;
    padding-left: 60px;
    padding-right: 20px;
    font-size: 24px;
    color: #787879;
    line-height: 1.1;
    margin-bottom: 60px;

    &:before {
      content: counter(working-num) '';
      counter-increment: working-num;
      line-height: 1;
      font-weight: 600;
      font-size: 60px;
      position: absolute;
      top: 0;
      left: 0;
      color: #f5df4e;
      text-shadow: -5px 3px 1px rgba(87, 86, 86, 0.7);
    }
  }
}
