// В этом файле должны быть стили для БЭМ-блока action-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.action-box {

  $block-name:                &; // #{$block-name}__element

  padding-top: 25px;
  padding-bottom: 25px;

  &__container {
    max-width: 1006px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    text-align: center;
  }

  &--dark {
    background: #474747;

    .btn {
      font-weight: 500;
      border: 3px solid #f5df4e;
      border-radius: 10px;
      background-color: transparent;
      text-transform: uppercase;
      color: #f5df4e;
      font-size: 24px;
    }
  }
  &--yellow {
    background: #f5df4e;

    .btn {
      font-weight: 500;
      border: 3px solid #000;
      border-radius: 10px;
      background-color: transparent;
      text-transform: uppercase;
      color: #000;
      font-size: 24px;
      min-width: 464px;
    }
  }
}
