// В этом файле должны быть стили для БЭМ-блока product-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-box {

  $block-name:                &; // #{$block-name}__element
  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    max-width: 1036px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 20px 0 60px 0;

    li {
      display: inline-block;
      &:not(:last-child) {
        border-right: 3px solid #f5df4e;
      }
      a {
        display: block;
        padding: 0 20px;
        font-size: 24px;
        font-weight: 700;
        color: #979797;
        text-decoration: none;
      }

      &.active {
        a {
          color: #000;
        }
      }
    }
  }

  &__carousel {
    a {
      &:focus {
        outline: none;
      }
    }
    .slick-list {
      margin-left: -30px;
      margin-right: -30px;
    }
    .dots-style {
      text-align: center;
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
    }

    .dots-style button {
      background: #787879;
      border: 1px solid #787879;
      border-radius: 50%;
      font-size: 0;
      height: 15px;
      width: 15px;
      margin: 5px;
      outline: none;
      cursor: pointer;
    }

    .dots-style li[class="slick-active"] button {
      background: transparent;
    }

    .slick-arrow{
      position: absolute;
      bottom: 5px;
      z-index: 2; // стрелки сверху картинок
      font-size: 0; // убираем надпись на дефолтной стрелке
      width: 53px; // ширина стрелки
      height: 17px; // высота стрелки
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &.slick-prev{
        left: 30%; // левая стрелка остается с левой стороны слайдера
        background: url('../img/left-arrow.png') 0 0 / 100% no-repeat;
      }
      &.slick-next{
        right: 30%; // правая стрелка переместилась справа от слайдера
        background: url('../img/right-arrow.png') 0 0 / 100% no-repeat;
      }
    }
  }

  &__item {
    margin: 0 30px;
  }
}
