// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element

  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    @include container;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media (min-width:$screen-lg) {
      margin-bottom: 60px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    @include row;
  }

  &__item {
    margin-bottom: 30px;
    @include col();
    @include col(md, 4);
    text-align: center;
  }

  &__item-icon {
    // width: 80px;
    // height: 80px;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    flex-shrink: 0;
    margin: auto;
    margin-bottom: 20px;

    @media (min-width:$screen-lg) {
      width: 100%;
      height: 140px;
    }

    &.si-icon-01 {
      top: 0;
      right: 0;
      background-image: url(../img/icon-services-01.png);
      background-size: inherit;
    }
    &.si-icon-02 {
      top: 0;
      right: 0;
      background-image: url(../img/icon-services-02.png);
    }
    &.si-icon-03 {
      top: 0;
      left: 0;
      background-image: url(../img/icon-services-03.png);
    }
  }

  &__item-caption {
    flex-grow: 1;
  }

  &__item-title {
    color: #f5df4e;
    font-weight: 600;
    text-shadow: -3px 3px 2px rgba(87, 86, 86, 0.6);
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;

    @media (min-width:$screen-lg) {
      font-size: 32px;
      margin-bottom: 25px;
    }
  }
  &__item-text {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 300;
    margin-bottom: 5px;
    span {
      display: block;
    }

    @media (min-width:$screen-lg) {
      font-size: 18px;
    }
  }
  &__item-link {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
  }
}
