// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {

  $block-name:                &; // #{$block-name}__element

  padding-top: 165px;
  padding-bottom: 40px;

  @media (max-width: $screen-lg - 1) {
    padding-top: 100px;
  }

  &__container {
    @include container;
    display: flex;
  }

  &__sidebar {
    max-width: 293px;
    flex-basis: 293px;
    flex-shrink: 0;
    padding-right: 30px;

    // @media (max-width: $screen-xl - 1) {
    //   max-width: 240px;
    //   flex-basis: 240px;
    // }
    @media (max-width: $screen-lg - 1) {
      display: none;
    }
  }

  &__sidebar-filter {
    @media (max-width: $screen-lg - 1) {
      display: none;
    }
  }

  &__sidebar-brands {
    .sidebar-brand {
      margin-bottom: 10px;
    }
  }
  &__sidebar-info-link {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
  }

  &__content {
    flex-grow: 1;
  }

  &__group-title {
    margin-bottom: 20px;
  }

  &__group-options {
    margin-bottom: 20px;

    .c-button {
      background-color: rgb(245, 223, 78);
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;

      @media (min-width: $screen-lg) {
        display: none;
      }
    }
  }
}

.sidebar-brand {
  border: 1px solid #cbc9c9;
  border-radius: 10px;
  display: block;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    padding: 0 20px;
  }
}
