// В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-card {

  $block-name:                &; // #{$block-name}__element

  &__view {
    position: relative;
    border: 1px solid #787879;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  &__img-wrap {
    display: flex;
  }

  &__img {
    margin: auto;
  }

  &__label {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 700;
    color: #000;
    background-color: #e6e6e6;
    min-width: 120px;

    &--new {
      background-color: #f5df4e;
    }

    @media (min-width:$screen-xl) {
      font-size: 16px;
      padding: 4px 15px;
      min-width: 147px;
    }
  }

  &__title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    padding: 0 35px;
    margin-bottom: 5px;

    a {
      color: #000;
      display: block;
      text-decoration: none;

      &:hover {
        color: #f5df4e;
      }
    }
  }
  &__price {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #787879;
    margin-bottom: 20px;
    span {
      white-space: nowrap;
    }

    @media (min-width:$screen-xl) {
      font-size: 36px;
    }
  }

  &__action {
    text-align: center;
    margin-bottom: 10px;

    .btn {
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #000;
      text-transform: uppercase;
      background-color: #f5df4e;
      padding: 0.6em 1.2em;
      border-radius: 10px;
      width: 100%;
      max-width: 260px;

      &:hover {
        background-color:#333333;
        color: #f5df4e;
      }

      @media (min-width:$screen-xl) {
        font-size: 22px;
        padding: 0.4em 1em;
      }
    }
  }
}
