// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product {

  $block-name:                &; // #{$block-name}__element

  padding-top: 165px;
  padding-bottom: 40px;

  @media (max-width: $screen-lg - 1) {
    padding-top: 100px;
  }

  &__container {
    @include container;
  }

  &__inner {
    @include row;
  }

  &__name {
    @include col();
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  &__view {
    @include col();
    @include col(xl, 5);
    @include col(md, 6);
  }
  &__body {
    @include col();
    @include col(xl, 7);
    @include col(md, 6);
  }

  &__action {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

  }
  &__price {
    margin-right: 15px;

    span {
      font-size: 36px;
      font-weight: 600;
    }
  }
  &__btn {
    .btn {
      background-color: #f5df4e;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
      padding: 6px 20px;

      &:hover,
      &:focus {
        background-color: #f3d827;
      }
    }
  }

  &__options {
    max-width: 320px;
    @include row;

    @media (max-width: $screen-md - 1) {
      max-width: 100%;
    }

    .options-item {
      @include col();
      @include col(xs, 4);
      margin-bottom: 15px;
    }
  }

  &__separator {
    height: 1px;
    width: 100%;
    background: #cbc9c9;
    margin: 40px 0;
    @media (max-width: $screen-md - 1) {
      margin: 20px 0 30px;
    }
  }

  &__info {
    .tabs__link-wrap {
      border: none;
      margin-right: 13px;

      @media (max-width: $screen-md - 1) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
      }

      &--active {
        .tabs__link {
          background-color: #f5df4e;
        }
      }
    }
    .tabs__link {
      border-radius: 10px;
      border: 1px solid #cbc9c9;
      color: #000;
      background-color: #fff;
      font-size: 20px;
      font-weight: 500;
      padding: 5px 23px;

      @media (max-width: $screen-lg - 1) {
        font-size: 14px;
      }
    }
    .tabs__links {
      margin-bottom: 10px;

      &::after {
        background: transparent;
      }
    }
    .tabs__content-wrapper {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #cbc9c9;
    }
  }
}


.product-carousel {

  border: 1px solid #cbc9c9;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

  &__item {
    padding: 25px 15px;
    width: 100%;
    img {
      margin: auto;
    }
  }
}

.product-carousel-nav {

  margin-bottom: 20px;

  &__item {
    border: 1px solid #cbc9c9;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 5px;
    padding: 15px 10px;
    cursor: pointer;
    outline: none;

    &.slick-current {
      border-color: #f5df4e;
    }
  }
}
